* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
  line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h5, h6 {
  font-size: 1.1rem;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 680px;
}

.image-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

pre {
  background-color: rgb(230, 230, 230);
  padding: 0.5rem 1rem;
}

header {
  height: 3rem;
  box-shadow: 0 4px 9px -4px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1192px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
}

nav a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 3rem;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0 1rem;
}

a.brand {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}
